/* Footer styles */
.footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style for paragraph within footer */
.footer p {
    margin: 0;
    font-size: 15px;
}