ul.nav.nav-underline {
    display: flex;
    justify-content: center;
    padding: 2px 0;
    margin: 0;
}

li.nav-item {
    margin: 0 0px;
    transition: transform 0.3s ease-in-out;
}

.nav-item a.nav-link {
    text-decoration: none;
    padding: 8px 16px;
    color: white;
}

.nav-link:hover {
    background-color: cornflowerblue;
}

.nav-item:hover {
    transform: translateY(-2px);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    margin: 0;
    position: relative;
}

.user-info {
    color: white;
    font-size: 16px;
    position: absolute;
    left: 10px;
}

.user-info:hover {
    color: cornflowerblue;
}