.hero-section {
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 0.9em;
    margin-bottom: -2em;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: lightskyblue;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: cornflowerblue;
    transform: translateY(-2px);
}